input[type='text'],
select {
  width: 10%;
  padding: 12px 20px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type='submit'] {
  width: 20%;
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  margin: 4px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.converterForm {
  text-align: center;
}
